-
  const constCostSectionContent = {
    title: 'Стоимость работ',
    priceList: [
      {
        text: 'Спил целого дерева <br>',
        price: 'от 2500₽',
        tooltip: ''
      },
      {
        text: 'Спил 2-мя частями <br>',
        price: 'от 2500₽',
        tooltip: ''
      },
      {
        text: 'Спил по частям <br>',
        price: 'от 4000₽',
        tooltip: ''
      },
      {
        text: 'Спил по частям с завешиванием веток',
        price: 'от 5000₽',
        tooltip: 'Когда дерево находится в труднодоступном месте, в опасной близости от строений, либо крона проросла вокруг проводов, его невозможно спилить и свалить целиком. Мы срезаем отдельные ветки, привязываем их веревками и аккуратно спускаем'
      },
      {
        text: 'Спил по частям с завешиванием веток и ствола',
        price: 'от 6000₽',
        tooltip: 'Когда дерево находится в труднодоступном месте, в опасной близости от строений, либо крона проросла вокруг проводов, его невозможно спилить и свалить целиком. Мы срезаем отдельные ветки, привязываем их веревками и аккуратно спускаем'
      },
    ],
    noteList: [
      'Цена ориентирована за дерево диаметром 20 см. Стоимость указана без учета сложности. Окончательную оценку возможно провести только на объекте.',
      'Работы выполняются по желанию заказчика, с предварительным согласованием перечня и стоимости.',
      'Стоимость на сайте не является публичной офертой.',
    ],
    slide: {
      title: 'Дополнительные услуги',
      list: [
        {
          label: 'Распил ствола на чурбаки в подарок',
          image: '@image/prepared/content/price_1-165px.jpg',
        },
        {
          label: 'Уборка участка после спила',
          image: '@image/prepared/content/price_2-165px.jpg',
        },
        {
          label: 'Фрезеровка пней',
          image: '@image/prepared/content/price_3-165px.jpg',
        },
        {
          label: 'Уборка остатков распила, кладка поленницы',
          image: '@image/prepared/content/price_4-165px.jpg',
        },
        {
          label: 'Вывоз порубочных остатков',
          image: '@image/prepared/content/price_5-165px.jpg',
        },
        {
          label: 'Дробнение веток на щепу',
          image: '@image/prepared/content/price_6-165px.jpg',
        },
        {
          label: 'Колка дров',
          image: '@image/prepared/content/price_7-165px.jpg',
        },
      ],
      note: '* Стоимость по согласованию',
    },
    button: 'Вызвать специалиста',
  };

mixin cost-slider-card(slide)
  .slide-card
    +respImage(slide.image, alt = '')
    p.slide-card__label.band-list-item.band-list-item--adaptive-border= slide.label


section.section.cost-section(id='cost')
  h2.section__title.cost-section__title= constCostSectionContent.title
  ul.cost-section__price-list 
    each price in constCostSectionContent.priceList
      li.cost-section__price-item.band-list-item
        p.cost-section__price-item-text
          span!= price.text
          if price.tooltip
            span.tooltip
              span.tooltip__text= price.tooltip
              +sprite('help')(class='tooltip__icon')
            
        strong.cost-section__price-item-price!= price.price
  ul.cost-section__note-list
    each note in constCostSectionContent.noteList
      li.cost-section__note-item!= note
  .cost-section__add-service
    h3.cost-section__add-service-title= constCostSectionContent.slide.title
    ul.cost-section__add-service-decor-list
      each slide in constCostSectionContent.slide.list
        li.cost-section__decor-image-item
          +respImage(slide.image, alt = '')
          p.cost-section__decor-image-label= slide.label
    .swiper.cost-section__slider.slider
      .swiper-wrapper
        each slide in constCostSectionContent.slide.list
          .swiper-slide.cost-section__slide
            +cost-slider-card(slide)
      .swiper-button-prev.slider__button-prev
      .swiper-button-next.slider__button-next
    small.cost-section__add-service-note= constCostSectionContent.slide.note
    +main-button(constCostSectionContent.button)(class='cost-section__add-service-button')
